

@media only screen and (max-width: 845px){

    
#conteiner-comentario{
 
    max-width: 1000px;
     margin: 0 auto;
    position: relative;
    top:50px;
   /*border: 3px solid blue; */
  
}

/* Estilo do comentario*/



#conteiner-prod{  
position:absolute;
/*border: 3px solid red; */
height:500px !important;
width:100%;
margin: 0;
}


#prod{
/*border: 3px solid blue; */
/*background-color:blue; */
position:absolute;
height:100px !important;
width:100% !important;
}

#prod img{
   position: absolute;
 margin: 0 auto;
 height:300px !important;
 max-width: 900px !important;
    
}

#prod-desc{
/*border: 3px solid black;*/
text-align:center;
position:absolute;
right:0px;
height:500px;
width:100% !important;
top:300px !important;
}


#coments{
/*border: 3px solid green; */
top:250px;
position:absolute;
width:100%;


}
.coments h1{
    text-align:center;
    
}


.coments ul{
list-style:none;
padding:0;
}


.coments img{
    padding-top: 10px;
width:70px;
height:70px;
padding-right: 30px;
}



.coments li{
    margin-top: 10px;
    padding: 5px;
    padding-bottom: 30px;
}


.coments li:nth-child(odd){
background:#777;

}

#cont-desc{
border: 1px solid black;
margin:20px;
}


#insert-coment{
border: 2px solid black;
text-align:center;
padding-bottom:20px;
}


#insert-coment textarea{
height:100px;
width:90%;


}

.no-margin{
    margin: 0;
   
}




.btnEnviar{
font:normal 16px Arial, Helvetica, sans-serif;
font-style:normal;
color:#000000;
background:#f2f2f2;
border:0px solid #ffffff;
text-shadow:-1px 1px 0px #fff;
box-shadow:0px 0px 7px #000000;
-moz-box-shadow:0px 0px 7px #000000;
-webkit-box-shadow:0px 0px 7px #000000;
border-radius:20px 20px 20px 20px;
-moz-border-radius:20px 20px 20px 20px;
-webkit-border-radius:20px 20px 20px 20px;
width:100px;
padding:10px;
cursor:pointer;
margin:0 auto;
margin-top: 15px;
}
.btnEnviar:active{
cursor:pointer;
position:relative;
top:2px;
}

    

    
}
/*-------------------------------------------------------------------------------------------*/

@media only screen and (max-width: 560px){

#coments{

top:300px;
position:absolute;
width:100%;

}
.coments h1{
    text-align:center;
    
}
    
}
/*-------------------------------------------------*/

@media only screen and (max-width:460px ){

#coments{

top:400px;
position:absolute;
width:100%;

}
.coments h1{
    text-align:center;
    
}
    



/*-------------------------------------------------*/


@media only screen and (max-width:360px ){

#coments{

top:500px;
position:absolute;
width:100%;

}
.coments h1{
    text-align:center;
    
}
    
}




@media only screen and (max-width:308px ){

#coments{

top:600px;
position:absolute;
width:100%;

}
.coments h1{
    text-align:center;
    
}
    
}


}













































body{
              
          padding: 0;
          margin: 0;
      }
      
      
      .login{
          font-family:comfortaa;
          font-size: 18px;
          position:relative;
          top: 0px;
          background-color:#1C1C1C;
          height: 60px;
          width: 100%;
          
      }
      
      .login p{
          color:#ffffff;
          position: relative;
         margin: 0px;
         height: 10px;
         width: 106px;
          float: right;
          padding-right: 15px;
          padding-top: 15px;
          cursor: pointer;
               }
      
               
                     
   .login  a, a:visited, a:active{
 text-decoration: none; 
 color: #ffffff;
 cursor: pointer;
      }
               
      
      .nav-top {
          text-align: center;
          top: 40px;
          background-color:#333333;
          height:55px; 
          position: relative;
          padding: 0;
          margin: 0 auto;
          width: 1000px;
          max-width: 100%;
              } 
         
              
              .nav-top ul li {
                  display: inline;
                  text-decoration: none;
                  color: #ffffff;
                  padding-right: 50px;
                  margin-top: 30px;
                  position: relative;
                  top:15px;
                 }
                 
                 
                 .nav-top a{
                     text-decoration: none;
                 }
         
         .nav-top .input-text{
              border-radius: 2px;
             text-decoration: none;
             position: absolute;
             right: 20px;
             top: 28%;
             display: block;
              border: none;
               padding: 6px ;
             
         }
         
         
          .input-submit{
            
             text-decoration: none;
            display: block;
            float: right;
            right: 210px;
            position: absolute; 
            top: 25%;
            background-color: #ffffff;
            border: none;
            padding: 7px 30px; 
           border-radius: 3px;
           font-size: 15px;
           font-family:comfortaa;
           
          }
     
          .img{
              position:relative;
              max-width: 100%;
              width: 800px;
              height: 400px;
             
               }             
           
               .cont-slide{
                   top: 70px;
                   margin: 50px auto;
                     max-width: 100%;
              width:800px;
              height: auto;
              position: relative;
                }
                
                .befor{
                position: absolute;
               top: 45%;
                left:  -70px;
               }
                .befor :hover{
                 opacity: 10;
                }
                .befor img{
                    height: 70px;
                    width: 70px;
                transition: opacity 1s;
                opacity: 0.2;
                }
                              
                .after{
                  position: absolute;
                    top: 45%; 
                    right: -70px;         
                }
                .after :hover{
                 opacity: 10;
                }
                
                .after img{
                     height: 70px;
                    width: 70px;
                    opacity: 0.2;
                     transition: opacity 1s;
                }
  
                .produto{
                    position: relative;
                   top: 130px;
              
                 height: auto;
                 width: 1000px;
                 margin: 0 auto;
                 max-width: 100%;
                 text-align: center;
                    
                  }
                  .produto img{
                      position: relative;
                      height:260px;
                      width: 230px;
                       top:50px;
                       max-width: 100%;
                       
                      
                  }
                
                  .produto div{
                      height:380px;
                      width: 230px;
                       max-width: 100%;
                       margin: 10px;
                      /* border:solid 1px red; */
                       display: inline-block;
                       position: relative;
                      
                  }
                  
                  
                  .cont-img{
                      width: auto;
                      height: auto;
                    /* border:solid 1px red; */
                  }
                  
                  
                  #nome-produto{
                      margin: 0;
                      font-family:comfortaaB;
                      position: absolute;
                      top:5px;
                      color: black;
                      padding-left: 20px;
                      padding-bottom: 10px;
                      
                  }
                  
                  #preco-produto{
                      margin: 0; 
                      font-family:comfortaaB;
                      position: absolute;
                      bottom: 0px;
                      color: black;
                      padding-left: 20px;
                       padding-bottom: 5px;
                  }
               
                   
                  .content-div-logo{
                     max-width: 100%;
                     top: 50px;
                      position: relative;
                      margin: 0 auto;
                    height: 100px;
                    width: 20px;
                  /* border:solid 1px red; */
                    width: 1000px;
                  }
                  
                  
                  .div-logo{
                      display: inline-block;
                      position: absolute;
                    /* border:solid 1px red; */
                       right: 0px;
                       width: 400px;
                       height:100px;
                       bottom: 0;
                      
                  }
                  
                  .div-logo p{
                      position: absolute;
                      right: 0;
                      margin: 0;
                      padding: 5px;
                      bottom: 0;
                      font-family:comfortaa;
                      font-size: 20px;
                  }
                  
                                     
                  .div-logo img{
                  position: absolute;

                     height: 100px;
                     width: 300px;
                   right: 0px;
                    bottom: 0;
                   
                  }
                   
       @font-face {
    font-family: gravity;
    src: url(../font/Gravity-Regular.otf);
}           
 
    @font-face {
    font-family:geosan;
    src: url(../font/GeosansLight.ttf);
}           


    @font-face {
    font-family:comfortaa;
    src: url(../font/Comfortaa-Regular.ttf);
}     
   @font-face {
    font-family:comfortaaB;
    src: url(../font/Comfortaa-Bold.ttf);
}      
      
    /* roda pe ------------------------------------------------------------ */

  
          .footer{
        
	background:#000;
	position:absolute;
	bottom:0;
	width:100%;
        height: 200px;
        
}
       


.footer .ass{
    color: #ffffff;
    margin: 0 auto; 
    font-size: 12px;
    bottom: 0px;
    position: relative;
   height: 30px;
   width: 200px;
     top:150px;
     
}




.containerGeral{
   position: relative;
    width: 100%;
   height: 1000px;

     
}    